/*mobile first design for Pacific Rhododendron layout */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

header {
  width: 100vw;
  height: 100vh;
}

#rhodiepic {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("rhododendron.jpg");
  background-size: cover;

}

#rhodietitle{
   position: absolute;
  width: 100vw;
  height: 100vh;
}

#rhodietitle h1 {
  position: absolute;
  bottom: 0;
  left: 0;
}